<!DOCTYPE html>
<html lang="en" dir="ltr">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--<title> Registration or Sign Up form in HTML CSS | CodingLab </title>-->
    <link rel="stylesheet" type="text/css" href="/admin/addAdminCss.css"/>
</head>

<body>
<div th:replace="admin/adminHome::css_link"></div>
<div th:replace="admin/adminHome::css"></div>
<div th:replace="admin/adminHome::admin_navbar"></div>
<div class="wrapper">
    <h2>Add Admin</h2>
    <form th:action="@{/admin}" th:method="post" th:object="${adminDto}">
        <div class="input-box">
            <input type="text" placeholder="Enter name" th:field="*{name}">
        </div>
        <div class="input-box">
            <input type="text" placeholder="Enter email" th:field="*{email}">
        </div>
        <div class="input-box">
            <input type="password" placeholder="Enter password" th:field="*{password}">
        </div>
        <div class="input-box button">
            <input type="Submit" value="Register">
        </div>
    </form>
    <h4 th:text="*{message}" style="color: #0624d7"></h4>
</div>
</body>

</html>