<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Table || Complain List</title>
  <link rel="stylesheet" href="user/complainList.css" />
</head>

<body>
<div th:replace="user/userHome::css_link"></div>
<div th:replace="user/userHome::css"></div>
<div th:replace="user/userHome::admin_navbar"></div>
<div class="header_fixed">
  <table>
    <thead>
    <tr>
      <th>SN.</th>
      <th>Crime Simple</th>
      <th>Crime Date</th>
      <th>Complain Date</th>
      <th>Complain Address</th>
      <th>Complain Status</th>
      <th>Crime Type</th>
      <th>Description</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>1</td>
      <td>utuudud</td>
      <td>Rakhi Gupta</td>
      <td>rakhigupta@gmail.com</td>
      <td>Engineering</td>
      <td><button>View</button></td>
    </tr>
    </tbody>
  </table>
</div>
</body>

</html>
