<!DOCTYPE html>
<html html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="base::layout(~{::section})">
<head>
    <title>Online Crime Reporting Management System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
<section>
<div class="w3-container w3-green">
    <h1>Online Crime Reporting Management System</h1>
    <p>You Can Learn to the OCRMS</p>
</div>
<div class="w3-container">
    <p>The Online Crime Reporting System is an application that covers almost  case management system and this project will help in managing almost criminal activities. It can use to report crimes and criminal activities using computers. Currently most tasks are done manually but by computerizing all the activities inside the police station the working system can be managed easily and efficiently. Similarly, the crime reporting system is the solution for all the victims and for the crime department</p>
</div>
<div class="w3-row-padding">
    <div class="w3-third">
        <h2>Contact Page</h2>
        <p>Online Crime Reporting Management System</p>
        <p>Head Office :BCA Forth Semster</p>
        <p>Tel: +977 01 88776644, 66317777,663059800</p>
        <p>Email: ocrms@email.com</p>
    </div>
</div>
</section>
</body>
</html>